.container{
    overflow-y: scroll !important;
}
.contain{
      height: calc(100vh - 56px - 40px);
      padding: 20px 50px 20px 50px;
    }

    hr {
      margin-top: 1rem;
      margin-bottom: 1rem;
      border: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
    .bloc_left_price {
      color: #c01508;
      text-align: center;
      font-weight: bold;
      font-size: 150%;
  }
  .category_block li:hover {
      background-color: #007bff;
  }
  .category_block li:hover a {
      color: #ffffff;
  }
  .category_block li a {
      color: #343a40;
  }
  .add_to_cart_block .price {
      color: #c01508;
      text-align: center;
      font-weight: bold;
      font-size: 200%;
      margin-bottom: 0;
  }
  .add_to_cart_block .price_discounted {
      color: #343a40;
      text-align: center;
      text-decoration: line-through;
      font-size: 140%;
  }
  .product_rassurance {
      padding: 10px;
      margin-top: 15px;
      background: #ffffff;
      border: 1px solid #6c757d;
      color: #6c757d;
  }
  .product_rassurance .list-inline {
      margin-bottom: 0;
      text-transform: uppercase;
      text-align: center;
  }
  .product_rassurance .list-inline li:hover {
      color: #343a40;
  }
  .reviews_product .fa-star {
      color: gold;
  }
  .pagination {
      margin-top: 20px;
  }
  footer {
      background: #343a40;
      padding: 40px;
  }
  footer a {
      color: #f8f9fa!important
  }
  /* Standard syntax */
@keyframes myfirst {
    0%   {left:0px; top:0px;}
    
    100% {left:100vw; top:-90vh;
        transform: scale(0.2);}
}

.img-tmp{
    animation: myfirst 1s linear 0s;
}