<div class="loading" [hidden]="!showLoader">
</div>
<div class="contain">
    <div class="row">
        <div class="col-1 col-sm-1 col-md-1	col-lg-1 col-xl-1">
        </div>
        <div class="col-5 col-sm-5 col-md-5	col-lg-5 col-xl-5"></div>
        <div class="col-5 col-sm-5 col-md-5	col-lg-5 col-xl-5" style="text-align: right;">
            <h3 class="title"><a href="#/product">สินค้าทั้งหมดคลิ๊ก</a></h3>
        </div>

    </div>


    <div class="row">
        <!-- <div class="col-6 col-sm-6 col-md-6	col-lg-6 col-xl-6">
            <img class="img-responsive" src={{dataProduct.picture}} width="400" height="400">
        </div> -->
        <!-- Image -->
        <div class="col-1 col-sm-1 col-md-1	col-lg-1 col-xl-1">
        </div>
        <div class="col-5 col-sm-5 col-md-5	col-lg-5 col-xl-5">
            <div class="card bg-light">
                <div class="card-body" style="text-align: center;">
                    <img style="min-width: 498px;min-height: 498px;max-width: 498px;max-height: 498px;position: absolute;" src={{dataProduct.picture}} />
                    <img style="min-width: 498px;min-height: 498px;max-width: 498px;max-height: 498px;position: relative;" id = "el" src={{dataProduct.picture}} />
                </div>
            </div>
        </div>

        <!-- Add to cart -->
        <div class="col-5 col-sm-5 col-md-5	col-lg-5 col-xl-5">
            <div>

                <form method="get" action="cart.html">
                    <!-- <div class="form-group">
                            <label for="colors">Color</label>
                            <select class="custom-select" id="colors">
                                <option selected>Select</option>
                                <option value="1">Blue</option>
                                <option value="2">Red</option>
                                <option value="3">Green</option>
                            </select>
                        </div> -->
                    <h1 style="padding-top: 10px;">{{dataProduct.productname}}</h1>
                    <h3 style="padding-top: 10px;">โปรโมชั่น : {{dataProduct.promotion}} </h3>
                    <h3 style="padding-top: 10px;">ราคา {{dataProduct.price | number: '1.2-2'}} / {{dataProduct.unit}}</h3>
                    <h3 style="padding-top: 10px;">รหัสสินค้า :  {{dataProduct.groupprecis}}{{dataProduct.id}} </h3>
                    <h3 style="padding-top: 10px;">หมวดหมู่ : {{dataProduct.group}} </h3>
                    <h3 style="padding-top: 10px;">เกษตรกรผู้ปลูก : <a href="#/showfarmer/{{dataProduct.ownerfarmerid}}"
                            target="_blank"> {{dataProduct.ownerfarmer}}</a></h3>

                    <div class="form-group">
                        <label>จำนวน : {{dataProduct.unit}}</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button (click)="minus()" type="button" class="quantity-left-minus btn btn-danger btn-number"
                                    data-type="minus" data-field="">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <input myNumberOnly [(ngModel)]="quantity" (keyup)="quantityChange()" type="text" class="form-control"
                                id="quantity" name="quantity" min="1" max="100">
                            <div class="input-group-append">
                                <button (click)="plus()" type="button" class="quantity-right-plus btn btn-success btn-number"
                                    data-type="plus" data-field="">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <a (click)="addProduct()" class="btn btn-success btn-lg btn-block text-uppercase">
                        <i class="fa fa-shopping-cart"></i> เพิ่มสินค้า
                    </a>
                </form>
                <div class="product_rassurance">
                    <ul class="list-inline">
                        <li style="margin-right: 20px;" class="list-inline-item"><i class="fa fa-truck fa-2x"></i><br />ส่งเร็ว</li>
                        <li style="margin-right: 20px;" class="list-inline-item"><i class="fa fa-credit-card fa-2x"></i><br />ปลอดภัย</li>
                        <li class="list-inline-item"><i class="fa fa-phone fa-2x"></i><br />02-9999999</li>
                    </ul>
                </div>
                <!-- <div class="reviews_product p-3 mb-2 ">
                                3 reviews
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                (4/5)
                                <a class="pull-right" href="#reviews">View all reviews</a>
                            </div> -->
                <!-- <div class="datasheet p-3 mb-2 bg-info text-white">
                                <a href="" class="text-white"><i class="fa fa-file-text"></i> Download DataSheet</a>
                            </div> -->

            </div>
        </div>
        <div class="col-1 col-sm-1 col-md-1	col-lg-1 col-xl-1">
        </div>
    </div>
</div>


<!-- <div class="row">
        <div class="col-4 col-sm-4 col-md-4	col-lg-4 col-xl-4">
            <img class="img-responsive" src={{dataProduct.picture}} width="400" height="400">
        </div>
        <div class="col-8 col-sm-8 col-md-8	col-lg-8 col-xl-8">
            <p style="padding-top: 10px;">ชื่อสินค้า {{dataProduct.productname}}</p>
            <p style="padding-top: 10px;">ราคา {{dataProduct.price}} / {{dataProduct.unit}}</p>
        </div>
    </div> -->


<button type=" button" [hidden]="true" id="btnModal" class="btn btn-primary" data-toggle="modal" data-target="#myModal"></button>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body resultBody">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <li class="resultIcon"><i class="{{modalIcon}}"></i></li>
                <li class="resultHead {{colorH}}">{{modalResult}}</li>
                <li class="resultMsg">{{modalMessage}}</li>
            </div>
        </div>
    </div>
</div>