<div class="loading" [hidden]="!showLoader">
</div>
<div class="container">
    <div class="row">
        <div class="col-1 col-sm-1 col-md-1	col-lg-1 col-xl-1"></div>
        <div class="col-10 col-sm-10 col-md-10	col-lg-10 col-xl-10">

            <h5>เพิ่มเกษตรกร</h5>
            <label for="inputUser">ชื่อเกษตรกร</label>
            <input [(ngModel)]="farmername" type="text" class="form-control" id="inputUser">
        </div>
        <div class="col-1 col-sm-1 col-md-1	col-lg-1 col-xl-1"></div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-1 col-sm-1 col-md-1	col-lg-1 col-xl-1"></div>
        <div class="col-8 col-sm-12 col-md-8	col-lg-8 col-xl-6">
            <label for="filename">รูปภาพ</label>
            <br>
            <!-- <img [src]="url" height="100px">
            <br>
            <input type='file' (change)="onSelectFile($event)"> -->

            <image-upload  (removed)="onRemoved($event)" (uploadFinished)="onUploadFinished($event)"
                (uploadStateChanged)="onUploadStateChanged($event)"></image-upload>
        </div>
    </div>
    <div class="row">
        <div class="col-1 col-sm-1 col-md-1	col-lg-1 col-xl-1"></div>
        <div class="col-8 col-sm-12 col-md-8	col-lg-8 col-xl-6">
            <label for="farmersector">ภาค</label>
            <!-- <input [(ngModel)]="inputAuthorize" type="text" class="form-control" id="inputAuthorize"> -->
            <select [(ngModel)]="farmersector" class="form-control" id="inputSite">
                <option [value]="role.name" *ngFor="let role of RoleDropDowns">{{role.name}}</option>
            </select>
        </div>
    </div>

    <div class="row" style="margin-top: 10px;">
        <div class="col-1 col-sm-1 col-md-1	col-lg-1 col-xl-1"></div>
        <div class="col-10 col-sm-10 col-md-10	col-lg-10 col-xl-10">
            <label for="inputUser">รายละเอียด</label>
            <quill-editor>

            </quill-editor>

            <button style="margin-top: 5px;float: right;" class="btn btn-success" (click)="save()">บันทึก</button>

        </div>
        <div class="col-1 col-sm-1 col-md-1	col-lg-1 col-xl-1"></div>
    </div>

</div>
<button type="button" [hidden]="true" id="btnModal" class="btn btn-primary" data-toggle="modal" data-target="#myModal"></button>
<div class="modal fade" data-backdrop="static" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body resultBody">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <li class="resultIcon"><i class="{{modalIcon}}"></i></li>
                <li class="resultHead {{colorH}}">{{modalResult}}</li>
                <li class="resultMsg">{{modalMessage}}</li>
            </div>
        </div>
    </div>
</div>