  .container{
    padding: 10px 0px 10px;
      height: calc(100vh - 56px - 40px);
    }
    hr {
      margin-top: 1rem;
      margin-bottom: 1rem;
      border: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }