<div class="loading" [hidden]="!showLoader">
</div>
<div class="container">
    <div class="row">
        <div class="col-1 col-sm-1 col-md-1	col-lg-1 col-xl-1"></div>
        <div class="col-10 col-sm-10 col-md-10	col-lg-10 col-xl-10">

            <h5>แจ้งการชำระเงิน</h5>

            <div class="row">
                <img src="./assets/images/download.png" class="img-thumbnail" alt="Cinque Terre">
                <h3 style="margin-left: 20px">ชำระเงินผ่านธนาคาร กรุงเทพ เลขที่บัญชี 2222-222-111</h3>
            </div>
            <hr />
            <div class="row">
                <!-- <input (keyup)="change()" [(ngModel)]="orderID" type="text" class="form-control" id="inputOrderID"> -->
                <form class="example-form" [formGroup]='usersForm' style="padding-left: 15px;">

                    <mat-form-field class="example-full-width">
                        <input [(ngModel)]="orderID" matInput placeholder="เลขที่คำสั่งซื้อ" [matAutocomplete]="auto" formControlName='userInput'>
                    </mat-form-field>

                    <mat-autocomplete  (optionSelected)='getPosts($event.option.value)' #auto="matAutocomplete">
                        <ng-container>
                            <mat-option  *ngFor="let user of dataActiveList" [value]="user.id">
                                <span>{{ user.id }}</span>
                            </mat-option>
                        </ng-container>
                    </mat-autocomplete>
                </form>
            </div>
            <label for="inputamount">จำนวนเงิน</label>
            <input (keyup)="change()" [(ngModel)]="amount" type="text" class="form-control" id="inputamount">
            <mat-form-field style="margin-top: 10px;">
                <input (ngModelChange)="change()" [(ngModel)]="fromdate" matInput [matDatepicker]="picker" placeholder="โปรดระบุวันที่">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div class="24hr-example">
                <input (ngModelChange)="change()" [(ngModel)]="time" placeholder="โปรดระบุเวลา" aria-label="24hr format"
                    [ngxTimepicker]="fullTime" [format]="24" readonly>
                <ngx-material-timepicker #fullTime></ngx-material-timepicker>
            </div>
        </div>
        <div class="col-1 col-sm-1 col-md-1	col-lg-1 col-xl-1"></div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-1 col-sm-1 col-md-1	col-lg-1 col-xl-1"></div>
        <div class="col-8 col-sm-12 col-md-8	col-lg-8 col-xl-6">
            <label for="filename">รูปภาพใบเสร็จ</label>
            <br>

            <image-upload (removed)="onRemoved($event)" (uploadFinished)="onUploadFinished($event)"
                (uploadStateChanged)="onUploadStateChanged($event)"></image-upload>
        </div>
    </div>
    <div class="row">
        <div class="col-1 col-sm-1 col-md-1	col-lg-1 col-xl-1"></div>
        <div class="col-8 col-sm-12 col-md-8	col-lg-8 col-xl-6">
            <label for="inputComment">ข้อความเพิ่มเติม</label>
            <textarea [(ngModel)]="comment" class="form-control" rows="5" id="inputComment"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-1 col-sm-1 col-md-1	col-lg-1 col-xl-1"></div>
        <div class="col-4 col-sm-4 col-md-4	col-lg-8 col-xl-6">
            <button (keyup)="change()" [disabled]="!canSave" style="margin-top: 15px;float: right;margin-bottom: 15px;"
                class="btn btn-success" (click)="save()">ส่งหลักฐานการชำระเงิน</button>
        </div>
    </div>

</div>
<button type="button" [hidden]="true" id="btnModal" class="btn btn-primary" data-toggle="modal" data-target="#myModal"></button>
<div class="modal fade" data-backdrop="static" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body resultBody">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <li class="resultIcon"><i class="{{modalIcon}}"></i></li>
                <li class="resultHead {{colorH}}">{{modalResult}}</li>
                <li class="resultMsg">{{modalMessage}}</li>
            </div>
        </div>
    </div>
</div>