<div class="loading" [hidden]="!showLoader">
</div>
<div class="container">
    <div class="row">
        <div class="col-1 col-sm-1 col-md-1	col-lg-1 col-xl-1"></div>
        <div class="col-10 col-sm-10 col-md-10	col-lg-10 col-xl-10">

            <h5>สั่งซื้อสินค้า</h5>
            <div class="row">
                <form>
                    <label [hidden]="hidden1" style="padding-left: 20px" class="radio-inline"><input type="radio" name="optradio" (click)="setAddress(1)"
                            checked> ที่อยู่ {{datatmp.homenumber}}</label>
                    <label [hidden]="hidden2"  style="padding-left: 20px" class="radio-inline"><input type="radio" name="optradio" (click)="setAddress(2)"> ที่อยู่
                        {{datatmp.homenumber2}}</label>
                    <label [hidden]="hidden3"  style="padding-left: 20px" class="radio-inline"><input type="radio" name="optradio" (click)="setAddress(3)"> ที่อยู่
                        {{datatmp.homenumber3}}</label>
                </form>
            </div>
            <label for="inputAddress">ที่อยู่จัดส่ง</label>
            <textarea [disabled]='true' [(ngModel)]="address" class="form-control" rows="5" id="inputAddress"></textarea>
            <div class="card">
                <table class="table table-hover shopping-cart-wrap">
                    <thead class="text-muted">
                        <tr>
                            <th scope="col">สินค้า</th>
                            <th scope="col" width="80">จำนวน</th>
                            <th scope="col" width="140">ราคาต่อหน่วย</th>
                            <th scope="col" width="90">ราคารวม</th>
                            <th scope="col" width="80" class="text-right">แอคชั่น</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="itemIncartObj?.length == 0" class="text-muted float-center">
                        <p class="align-items-center">ท่านยังไม่มีสินค้าในตะกร้าสินค้า</p>
                    </tbody>
                    <tbody *ngIf="itemIncartObj?.length > 0">
                        <tr *ngFor="let item of itemIncartObj">
                            <td>
                                <figure class="media">
                                    <div class="img-wrap"><img height="100px" width="100px" src={{item.picture}} class="img-thumbnail img-sm"></div>
                                    <figcaption class="media-body" style="margin-left: 10px">
                                        <h6 class="title text-truncate">{{item.productname}}</h6>
                                        <dl class="param param-inline small">
                                            <dt>หมวดหมู่ : {{item.group}}</dt>
                                            <dd>หน่วย : {{item.unit}}</dd>
                                        </dl>
                                        <!-- <dl class="param param-inline small">
                                    <dt>Color: </dt>
                                    <dd>Orange color</dd>
                                  </dl> -->
                                    </figcaption>
                                </figure>
                            </td>
                            <td>
                                <input (change)="changeQty(item,$event)" type="number" name="qty" id="qty" min="1" step="1"
                                    value={{item.quantity}} class="form-control" style="font-size: 12px;height: 35px;width: 65px;text-align: center;">
                            </td>
                            <td>
                                <div>
                                    <var class="text-muted">{{item.price | number: '1.2-2'}}</var>
                                    <!-- <small class="text-muted">(USD5 each)</small> -->
                                </div> <!-- price-wrap .// -->
                            </td>
                            <td>
                                <div>
                                    <var class="text-muted">{{item.price*item.quantity| number: '1.2-2'}}</var>
                                    <!-- <small class="text-muted">(USD5 each)</small> -->
                                </div> <!-- price-wrap .// -->
                            </td>
                            <td class="text-right">
                                <a style="color: red;" (click)="deleteItemInCart(item.id)"><i class="fas fa-trash-alt"></i>
                                    ลบ</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row" style="padding: 5px 15px 5px 5px;float: right;">
                <div class="row">
                    <h3>ราคารวม {{sumprice | number: '1.2-2'}} บาท</h3>
                    <button (click)="ordernow()" type="button" style="width: 100%;" class="btn btn-success">สั่งซื้อสินค้า</button>
                </div>
            </div>
        </div>
        <div class="col-1 col-sm-1 col-md-1	col-lg-1 col-xl-1"></div>
    </div>

</div>
<button type="button" [hidden]="true" id="btnModal" class="btn btn-primary" data-toggle="modal" data-target="#myModal"></button>
<div class="modal fade" id="myModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body resultBody">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <li class="resultIcon"><i class="{{modalIcon}}"></i></li>
                <li class="resultHead {{colorH}}">{{modalResult}}</li>
                <li class="resultMsg">{{modalMessage}}</li>
            </div>
        </div>
    </div>
</div>