<div class="loading" [hidden]="!showLoader">
</div>
<div class="container">
    <div class="row" style="padding: 10px;">
        <div class="col-1 col-sm-1 col-md-1	col-lg-1 col-xl-1"></div>
        <div class="col-10 col-sm-10 col-md-10	col-lg-10 col-xl-10">
            <h5>แก้ไขหน้าแรก</h5>
            <div class="row">
                <label for="inputUser">เกี่ยวกับเรา</label>
                <quill-editor>

                </quill-editor>
            </div>
            <div class="row" style="padding-top: 80px">
                <label for="filename">รูปภาพ Banner 1</label>
                <br>
                <image-upload (removed)="onRemoved($event,1)" (uploadFinished)="onUploadFinished($event,1)"
                    (uploadStateChanged)="onUploadStateChanged($event,1)"></image-upload>
            </div>
            <div class="row" style="padding-top: 15px">
                <label for="filename">รูปภาพ Banner 2</label>
                <br>
                <image-upload (removed)="onRemoved($event,2)" (uploadFinished)="onUploadFinished($event,2)"
                    (uploadStateChanged)="onUploadStateChanged($event,2)"></image-upload>
            </div>
            <div class="row" style="padding-top: 15px">
                <label for="filename">รูปภาพ Banner 3</label>
                <br>
                <image-upload (removed)="onRemoved($event,3)" (uploadFinished)="onUploadFinished($event,3)"
                    (uploadStateChanged)="onUploadStateChanged($event,3)"></image-upload>
            </div>
            <div class="row" style="padding-top: 15px">
                <label for="filename">รูปภาพ Banner 4</label>
                <br>
                <image-upload (removed)="onRemoved($event,4)" (uploadFinished)="onUploadFinished($event,4)"
                    (uploadStateChanged)="onUploadStateChanged($event,4)"></image-upload>
            </div>
            <button style="margin-top: 10px;float: center;" class="btn btn-success" (click)="save()">บันทึก</button>

        </div>
        <div class="col-1 col-sm-1 col-md-1	col-lg-1 col-xl-1"></div>
    </div>


</div>
<button type="button" [hidden]="true" id="btnModal" class="btn btn-primary" data-toggle="modal" data-target="#myModal"></button>
<div class="modal fade" data-backdrop="static" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body resultBody">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <li class="resultIcon"><i class="{{modalIcon}}"></i></li>
                <li class="resultHead {{colorH}}">{{modalResult}}</li>
                <li class="resultMsg">{{modalMessage}}</li>
            </div>
        </div>
    </div>
</div>