<div [@routerTransition]>

  <div [hidden]="submitted">
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
      <div class="row">
        <div class="col-lg-3">
          Template ID:</div>
        <div class="col-lg-6">
          <div class="form-group">
            <input readonly type="text" class="form-control" id="templateid" [(ngModel)]="dataSource.TEMPLATE_ID" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          Template Name:</div>
        <div class="col-lg-6">
          <div class="form-group">
            <input type="text" class="form-control" id="templatename" [(ngModel)]="dataSource.TEMPLATE_NAME" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          Description:</div>
        <div class="col-lg-6">
          <div class="form-group">
            <input type="text" class="form-control" id="description" [(ngModel)]="dataSource.DESCRIPTION" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          Send To:</div>
        <div class="col-lg-6">
          <div class="form-group">
            <textarea class="example-full-width" matInput [(ngModel)]="dataSource.SEND_TO" [ngModelOptions]="{standalone: true}">
              </textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          CC:</div>
        <div class="col-lg-6">
          <div class="form-group">
            <textarea class="example-full-width" matInput [(ngModel)]="dataSource.MAIL_CC" [ngModelOptions]="{standalone: true}">
              </textarea>
          </div>
        </div>
      </div>
      <div class=" row ">
        <div class="col-lg-3 ">
          Subject:</div>
        <div class="col-lg-6 ">
          <div class="form-group ">
            <input type="text " class="form-control " [(ngModel)]="dataSource.SUBJECT
              " [ngModelOptions]="{standalone: true} ">
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-lg-3 ">
          Detail:</div>
        <div class="col-lg-6 ">
          <div class="form-group ">
            <textarea id="detail" class="example-full-width" ng-model="detail" matInput [(ngModel)]="dataSource.BODY" [ngModelOptions]="{standalone: true}">
                </textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-9 col-md-9 col-centered alignright">
          <button type="submit" class="btn btn-default">
            Update
          </button>
          <button (click)="cancel()" type="button" class="btn btn-default">
            Cancel
          </button>
        </div>
      </div>


      <!-- <button type="submit " class="btn btn-success " [disabled]="!heroForm.form.valid ">Submit</button>
        <button type="button " class="btn btn-default " (click)="newHero(); heroForm.reset() ">New Hero</button> -->
    </form>
  </div>

  <!-- <div [hidden]="!submitted ">
      <h2>You submitted the following:</h2>
      <div class="row ">
        <div class="col-xs-3 ">Name</div>
        <div class="col-xs-9 pull-left ">{{ model.name }}</div>
      </div>
      <div class="row ">
        <div class="col-xs-3 ">Alter Ego</div>
        <div class="col-xs-9 pull-left ">{{ model.alterEgo }}</div>
      </div>
      <div class="row ">
        <div class="col-xs-3 ">Power</div>
        <div class="col-xs-9 pull-left ">{{ model.power }}</div>
      </div>
      <br>
      <button class="btn btn-primary " (click)="submitted=false ">Edit</button>
    </div> -->
</div>