.datepicker{
    margin-left: 30px; 
}
table {
    width: 100%;
  }
  button{
      margin: 5px;
  }
  .alignright{
  text-align: right;
  }
  .alignleft{
    text-align: left;
    }
    .example-full-width {
        width: 100%;
      }
      .textarea {
        border: 1px solid #cccccc !important;
    }