

<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <form #loginForm="ngForm">
        <div class="imgcontainer">
          <img src="./assets/images/logo_regeister.jpg" class="avatar">
        </div>
        <div class="center loginlabel">
          ลงทะเบียน
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
            <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
              <label for="inputemail">Email</label>
              <input [ngModelOptions]="{standalone: true}" #email="ngModel" required maxlength="50" class="form-control"
                [(ngModel)]="model.email" type="text" class="form-control" id="inputemail" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
              <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
                <div [hidden]="!email.errors.required">
                  โปรดระบุอีเมล!
                </div>
                <!-- <div [hidden]="!user.errors.minlength">
                  Title must be at least 5 characters long.
                </div> -->
                <div [hidden]="!email.errors.maxlength">
                  Email ต้องไม่เกิน 50 ตัวอักษร
                </div>
              </div>
            </div>
            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
            <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
              <label for="inputPassword">รหัสผ่าน</label>
              <input [(ngModel)]="model.inputPassword" #inputPassword="ngModel" [ngModelOptions]="{standalone: true}"
                required maxlength="50" type="text" class="form-control" id="inputPassword">
              <div *ngIf="inputPassword.errors && (inputPassword.dirty || inputPassword.touched)" class="alert alert-danger">
                <div [hidden]="!inputPassword.errors.required">
                  Password is required!
                </div>
                <!-- <div [hidden]="!user.errors.minlength">
                    Title must be at least 5 characters long.
                  </div> -->
                <div [hidden]="!inputPassword.errors.maxlength">
                  Password cannot be more than 50 characters long.
                </div>
              </div>
            </div>
            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
            <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
              <label for="inputname">ชื่อผู้ลงทะเบียน</label>
              <input [ngModelOptions]="{standalone: true}" #name="ngModel" required maxlength="50" class="form-control"
                [(ngModel)]="model.name" type="text" class="form-control" id="inputname">
              <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
                <div [hidden]="!name.errors.required">
                  โปรดระบุชื่อผู้ลงทะเบียน!
                </div>
                <!-- <div [hidden]="!user.errors.minlength">
                    Title must be at least 5 characters long.
                  </div> -->
                <div [hidden]="!name.errors.maxlength">
                  ชื่อผู้ลงทะเบียน ต้องไม่เกิน 50 ตัวอักษร
                </div>
              </div>
            </div>
            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
            <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
              <label for="inputtel">เบอร์โทร</label>
              <input [ngModelOptions]="{standalone: true}" #tel="ngModel" required maxlength="20" class="form-control"
                [(ngModel)]="model.tel" type="text" class="form-control" id="inputtel">
              <div *ngIf="tel.errors && (tel.dirty || tel.touched)" class="alert alert-danger">
                <div [hidden]="!tel.errors.required">
                  โปรดระบุเบอร์โทรหรือ - เมื่อไม่ต้องการระบุ
                </div>
                <!-- <div [hidden]="!user.errors.minlength">
                    Title must be at least 5 characters long.
                  </div> -->
                <div [hidden]="!tel.errors.maxlength">
                  เบอร์โทรต้องไม่เกิน 20 ตัวอักษร
                </div>
              </div>
            </div>
            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
            <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
              <label for="inputphone">เบอร์โทรศัพท์</label>
              <input [ngModelOptions]="{standalone: true}" #phone="ngModel" required maxlength="20" class="form-control"
                [(ngModel)]="model.phone" type="text" class="form-control" id="inputphone">
              <div *ngIf="phone.errors && (phone.dirty || phone.touched)" class="alert alert-danger">
                <div [hidden]="!phone.errors.required">
                  โปรดระบุเบอร์โทรศัพท์หรือ - เมื่อไม่ต้องการระบุ
                </div>
                <!-- <div [hidden]="!user.errors.minlength">
                    Title must be at least 5 characters long.
                  </div> -->
                <div [hidden]="!phone.errors.maxlength">
                  เบอร์โทรศัพท์ต้องไม่เกิน 20 ตัวอักษร
                </div>
              </div>
            </div>
            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
            <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
              <label for="inputhomenumber">ที่อยู่</label>
              <input [ngModelOptions]="{standalone: true}" #homenumber="ngModel" required maxlength="100" class="form-control"
                [(ngModel)]="model.homenumber" type="text" class="form-control" id="inputhomenumber">
              <div *ngIf="homenumber.errors && (homenumber.dirty || homenumber.touched)" class="alert alert-danger">
                <div [hidden]="!homenumber.errors.required">
                  โปรดระบุที่อยู่!
                </div>
                <!-- <div [hidden]="!user.errors.minlength">
                    Title must be at least 5 characters long.
                  </div> -->
                <div [hidden]="!homenumber.errors.maxlength">
                  ที่อยู่ต้องไม่เกิน 20 ตัวอักษร
                </div>
              </div>
            </div>
            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
            <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
              <label for="inputsubdistrict">ตำบล</label>
              <input [ngModelOptions]="{standalone: true}" #subdistrict="ngModel" required maxlength="20" class="form-control"
                [(ngModel)]="model.subdistrict" type="text" class="form-control" id="inputsubdistrict">
              <div *ngIf="subdistrict.errors && (subdistrict.dirty || subdistrict.touched)" class="alert alert-danger">
                <div [hidden]="!subdistrict.errors.required">
                  โปรดระบุตำบล!
                </div>
                <!-- <div [hidden]="!user.errors.minlength">
                    Title must be at least 5 characters long.
                  </div> -->
                <div [hidden]="!subdistrict.errors.maxlength">
                  ตำบลต้องไม่เกิน 20 ตัวอักษร
                </div>
              </div>
            </div>
            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
            <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
              <label for="inputdistrict">อำเภอ</label>
              <input [ngModelOptions]="{standalone: true}" #district="ngModel" required maxlength="20" class="form-control"
                [(ngModel)]="model.district" type="text" class="form-control" id="inputdistrict">
              <div *ngIf="district.errors && (district.dirty || district.touched)" class="alert alert-danger">
                <div [hidden]="!district.errors.required">
                  โปรดระบุอำเภอ!
                </div>
                <!-- <div [hidden]="!user.errors.minlength">
                    Title must be at least 5 characters long.
                  </div> -->
                <div [hidden]="!district.errors.maxlength">
                  อำเภอต้องไม่เกิน 20 ตัวอักษร
                </div>
              </div>
            </div>
            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
            <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
              <label for="inputprovince">จังหวัด</label>
              <input [ngModelOptions]="{standalone: true}" #province="ngModel" required maxlength="20" class="form-control"
                [(ngModel)]="model.province" type="text" class="form-control" id="inputprovince">
              <div *ngIf="province.errors && (province.dirty || province.touched)" class="alert alert-danger">
                <div [hidden]="!province.errors.required">
                  โปรดระบุจังหวัด!
                </div>
                <!-- <div [hidden]="!user.errors.minlength">
                    Title must be at least 5 characters long.
                  </div> -->
                <div [hidden]="!province.errors.maxlength">
                  จังหวัดต้องไม่เกิน 20 ตัวอักษร
                </div>
              </div>
            </div>
            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
            <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
              <label for="inputpostcode">รหัสไปรษณีย์</label>
              <input [ngModelOptions]="{standalone: true}" #postcode="ngModel" required maxlength="20" class="form-control"
                [(ngModel)]="model.postcode" type="text" class="form-control" id="inputpostcode">
              <div *ngIf="postcode.errors && (postcode.dirty || postcode.touched)" class="alert alert-danger">
                <div [hidden]="!postcode.errors.required">
                  โปรดระบุจังหวัด!
                </div>
                <!-- <div [hidden]="!user.errors.minlength">
                    Title must be at least 5 characters long.
                  </div> -->
                <div [hidden]="!postcode.errors.maxlength">
                  จังหวัดต้องไม่เกิน 20 ตัวอักษร
                </div>
              </div>
            </div>
            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
          </div>
        </div>
     

        <div class="form-group">
          <div class="row">
            <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
            <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
              <button [disabled]="!(email.valid && inputPassword.valid
              && name.valid&& tel.valid&& phone.valid
              && homenumber.valid&& subdistrict.valid&& district.valid&& province.valid&& postcode.valid)"
                (click)="register()" class="btn btn-success buttonsubmit"><i class="fas fa-save"></i> ลงทะเบียน</button>
            </div>
            <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
          </div>
          <div class="row">
            <img class="loading" *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          </div>
        </div>
      </form>


    </div>
  </div>
</div>
<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
  <div class="modal-dialog  modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">ลงทะเบียนไม่สำเร็จ</h4>
      </div>
      <div class="modal-body">
        <p>มีความผิดพลาดในการลงทะเบียน โปรดติดต่อผู้ดูแลระบบ</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="onCloseHandled()">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal !-->
<button type="button" [hidden]="true" id="btnModal" class="btn btn-primary" data-toggle="modal" data-target="#myModal"></button>
<div class="modal fade" data-backdrop="static" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body resultBody">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="checkModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <li class="resultIcon"><i class="{{modalIcon}}"></i></li>
        <li class="resultHead {{colorH}}">{{modalResult}}</li>
        <li class="resultMsg">{{modalMessage}}</li>
      </div>
    </div>
  </div>
</div>