
.backdrop{ 
  background-color:rgba(0,0,0,0.6);
    position:fixed;
    top:0;
    left:0;
  width:100%;
  height:100vh;
  }
.red-text {
  color: crimson;
}
.loading{
  margin-left: auto;
    margin-right: auto;
}
form {
  border: 3px solid #f1f1f1;
background-color: #ffffff;
width: 80%;
height: auto;
margin-left: auto;
margin-right: auto;
}
.center {
  text-align: center;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color : #ffffff !important; 
}
.buttonsubmit {
  background-color: #AC2835;
  color: white;
  padding: 14px 20px;
 margin-top: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 12px 0 12px 0;
}
.container{
  height: calc(100vh - 56px - 40px);
  padding: 10px 0px 10px !important;
}

img.avatar {
  width: 20%;
  border-radius: 50%;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.loginlabel{
  font: #373B4C;
  font-size: 20px
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}


  .ng-valid[required], .ng-valid.required  {
      border-left: 5px solid #42A948; /* green */
    }
    .ng-invalid:not(form)  {
      border-left: 5px solid #a94442; /* red */
    }

    button[disabled]{
      border: 1px solid #999999;
      background-color: #cccccc;
      color: #666666;
    }