<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <form #loginForm="ngForm">
        <div class="imgcontainer">
          <img src="./assets/images/logo_regeister.jpg" class="avatar">
        </div>
        <div class="center loginlabel">
          เปลี่ยนหรัสผ่านของ {{email}} 
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
            <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
              <label for="inputPassword">รหัสผ่าน</label>
              <input [(ngModel)]="model.inputPassword" #inputPassword="ngModel" [ngModelOptions]="{standalone: true}"
                required maxlength="50" type="password" class="form-control" id="inputPassword">
              <div *ngIf="inputPassword.errors && (inputPassword.dirty || inputPassword.touched)" class="alert alert-danger">
                <div [hidden]="!inputPassword.errors.required">
                  Password is required!
                </div>
                <!-- <div [hidden]="!user.errors.minlength">
                    Title must be at least 5 characters long.
                  </div> -->
                <div [hidden]="!inputPassword.errors.maxlength">
                  Password cannot be more than 50 characters long.
                </div>
              </div>
            </div>
            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
            <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
              <label for="inputRePassword">ยืนยันรหัสผ่าน</label>
              <input (keyup)="checkRePassword()" [(ngModel)]="model.inputRePassword" #inputRePassword="ngModel"
                [ngModelOptions]="{standalone: true}" required maxlength="50" type="password" class="form-control" id="inputRePassword">
              <div *ngIf="inputRePassword.errors && (inputRePassword.dirty || inputRePassword.touched)" class="alert alert-danger">
                <div [hidden]="!inputRePassword.errors.required && checkPasswordMatch">
                  Re-Password is required!
                </div>
                <!-- <div [hidden]="checkPasswordMatch">
                  Password mismatch.
                </div> -->
                <div [hidden]="!inputRePassword.errors.maxlength && checkPasswordMatch">
                  Password cannot be more than 50 characters long.
                </div>
              </div>
              <div class="alert alert-danger" *ngIf="!checkPasswordMatch">Password mismatch.</div>
            </div>
            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
            <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
              <button [disabled]="!checkPasswordMatch" (click)="savenewpassword()"
                class="btn btn-success buttonsubmit"><i class="fas fa-save"></i>ยืนยันการเปลี่ยนรหัสผ่าน</button>
            </div>
            <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
          </div>
        </div>
      </form>


    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
  <div class="modal-dialog  modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">ลงทะเบียนไม่สำเร็จ</h4>
      </div>
      <div class="modal-body">
        <p>มีความผิดพลาดในการลงทะเบียน โปรดติดต่อผู้ดูแลระบบ</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="onCloseHandled()">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal !-->
<button type="button" [hidden]="true" id="btnModal" class="btn btn-primary" data-toggle="modal" data-target="#myModal"></button>
<div class="modal fade" data-backdrop="static" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body resultBody">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <li class="resultIcon"><i class="{{modalIcon}}"></i></li>
        <li class="resultHead {{colorH}}">{{modalResult}}</li>
        <li class="resultMsg">{{modalMessage}}</li>
      </div>
    </div>
  </div>
</div>