.footer{
    // width: 100% !important;
    // background: #4eff5d;
    // padding: 10px;
    // position: absolute;
    // border-top:1px solid #ededed;
    // bottom: 0;
    // text-align: center;
    position: absolute;
    border-top:1px solid #ededed;
bottom: 0;
width: 100%;
height: 40px;
line-height: 40px;
background-color: #589A16;
text-align: center;
}
.footer p{
    display: inline-block;
    font-size: 14px;
    color: #333;
    font-weight:500;
    margin: 0 0 0 10px;
    vertical-align: middle;
}

.footer img{
    display: inline-block;
    width: 92px;
}