<div class="loading" [hidden]="!showLoader">
</div>
<div class="rowshowfarmer">
    <!-- <div [innerHTML]="test">
    </div> -->
    
    <h2 style="padding-left: 50px">แนะนำเกษตรกร</h2>
    <div class="row">

        <div class="col-12 col-sm-12 col-md-12	col-lg-12 col-xl-12" style="margin-top: 10px;">
            <div class="row" *ngFor="let row of buildArr(dataFarmers)">
                <div *ngFor="let item of row" class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">

                    <img class="rounded-circle" src={{item.imageprofile}} width="250" height="250">
                    <h2>{{item.sector}}</h2>
                    <p>{{item.name}}</p>
                    <p><a class="btn btn-info" (click)="showDetail(item.id)" role="button">เพิ่มเติม »</a></p>
                </div>
            </div>
        </div>
    </div>
</div>



<button type=" button" [hidden]="true" id="btnModal" class="btn btn-primary" data-toggle="modal" data-target="#myModal"></button>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body resultBody">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <li class="resultIcon"><i class="{{modalIcon}}"></i></li>
                <li class="resultHead {{colorH}}">{{modalResult}}</li>
                <li class="resultMsg">{{modalMessage}}</li>
            </div>
        </div>
    </div>
</div>