<div class="loading" [hidden]="!showLoader">
</div>
<div [@routerTransition] class="tabblereport">
  <div class="row">

    <div class="col-lg-6 col-md-6 col-centered">
      <h5>รายงานการสั่งซื้อ</h5>

      <mat-form-field style="margin-top: 15px;">
        <input [(ngModel)]="fromdate" matInput [matDatepicker]="picker" placeholder="From Date:">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="datepicker">
        <input [min]="fromdate" [(ngModel)]="todate" matInput [matDatepicker]="picker2" placeholder="To Date:">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-centered">
      OrderID :
      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="orderID">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-centered">
      <button (click)='search()' type="button" class="btn btn-default">
        <i class="fas fa fa-search"></i> Search
      </button>
      <!-- <button (click)="exportCSV()" type="button" class="btn btn-default">
            <i class="fas fa fa-download"></i> Export to Excel
          </button> -->
    </div>
  </div>
  <div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="เลขที่คำสั่งซื้อ">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> เลขที่คำสั่งซื้อ </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      <ng-container matColumnDef="ผู้สั่งซื้อ">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ผู้สั่งซื้อ </th>
        <td mat-cell *matCellDef="let element"> {{element.nameuser}} </td>
      </ng-container>
      <ng-container matColumnDef="จำนวน">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> จำนวน </th>
        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
      </ng-container>
      <ng-container matColumnDef="ราคา">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ราคา </th>
        <td mat-cell *matCellDef="let element"> {{element.price| number : '1.2-2' }}</td>
      </ng-container>
      <ng-container matColumnDef="วันที่สั่งซื้อ">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่สั่งซื้อ</th>
        <td mat-cell *matCellDef="let element"> {{element.createdate| date:'dd/MM/yyyy'}}</td>
      </ng-container>
      <ng-container matColumnDef="สถานะ">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>สถานะ</th>
        <td mat-cell *matCellDef="let element">{{element.status}}</td>
      </ng-container>
      <ng-container matColumnDef="รายละเอียด">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>รายละเอียด</th>
        <td mat-cell *matCellDef="let element"><a href="#/reportorderdetail/{{element.id}}">เพิ่มเติม</a>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons></mat-paginator>

</div>

<button type="button" [hidden]="true" id="btnModal" class="btn btn-primary" data-toggle="modal" data-target="#myModal"></button>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body resultBody">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <li class="resultIcon"><i class="{{modalIcon}}"></i></li>
        <li class="resultHead {{colorH}}">{{modalResult}}</li>
        <li class="resultMsg">{{modalMessage}}</li>
      </div>
    </div>
  </div>
</div>