<app-header></app-header>
<div id="wrapper">
  
  <!-- Breadcrumbs
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Overview</li>
      </ol> -->
  <section class="main-container">
    <router-outlet>
      <!-- <span *ngIf="showLoader" class="loading"></span> -->
    </router-outlet>
  </section>
  <!-- /.container-fluid -->

  <!-- Sticky Footer -->
 
  <!-- /.content-wrapper -->

</div>
<app-footer></app-footer>
<!-- /#wrapper -->