<div class="loading" [hidden]="!showLoader">
</div>
<div class="rowbody">
    <div class="col-12 col-sm-12 col-md-12	col-lg-12 col-xl-12">
        <!-- Nav tabs -->
        <div class="row">
            <div class="col-9 col-sm-9 col-md-9	col-lg-9 col-xl-9">
                <ul class="nav nav-tabs" style="margin-top:  15px">
                    <li class="nav-item">
                        <a (click)="changeData('all')" class="nav-link active" data-toggle="tab" href="#all">สินค้าทั้งหมด</a>
                    </li>
                    <li *ngFor="let row of groupTab" class="nav-item">
                        <a (click)="changeData(row.id)" class="nav-link" data-toggle="tab" href="#menu{{row.id}}">{{row.name}}</a>
                    </li>
                </ul>
            </div>    
            <div class="col-3 col-sm-3 col-md-3	col-lg-3 col-xl-3">
                <div class="row justify-content-end" style="margin-top: 15px; width: 80%;">
                    <div class="input-group">
                        <input [(ngModel)]="search" (keyup)="searchProduct()" class="form-control py-2" type="search"
                            placeholder="search" id="example-search-input">
                        <span class="input-group-append">
                            <button (click)="searchProduct()" class="btn btn-outline-secondary" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="all">
                <div class="col-12 col-sm-12 col-md-12	col-lg-12 col-xl-12">
                    <div class="main">
                        <h3 [hidden]="checkHaveProduct">
                            ขออภัยค่ะยังไม่มีสินค้าในหมวดนี้
                        </h3>
                        <div class="row">
                            <div *ngFor="let item of dataProduct | paginate: { itemsPerPage:20, currentPage: p }" class="col-md-3 col-sm-6"
                                style="margin-top: 15px;">
                                <div class="product-grid2">
                                    <div class="product-image2">
                                        <a href="#/productdetail/{{item.id}}">
                                            <img class="pic-1" style="min-width: 420px;min-height: 420xpx;max-width: 420px;max-height: 420px;" src={{item.picture}}>
                                            <img class="pic-2" style="min-width: 420px;min-height: 420xpx;max-width: 420px;max-height: 420px;" id = "e{{item.id}}" src={{item.picture}}>
                                        </a>
                                        <ul class="social">
                                            <li><a href="#/productdetail/{{item.id}}" data-tip="รายละเอียด"><i class="fa fa-eye"></i></a></li>
                                            <li><a (click)="addProduct(item)" data-tip="เพิ่มเข้าตะกร้าสินค้า"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                        <a (click)="addProduct(item)" class="add-to-cart">เพิ่มเข้าตะกร้าสินค้า</a>
                                    </div>
                                    <div class="product-content">
                                        <h3 class="title"><a href="#/productdetail/{{item.id}}">{{item.productname}}</a></h3>
                                        <span class="price">ราคา {{item.price| number: '1.2-2'}}/{{item.unit}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row justify-content-end">

                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>

                </div>

            </div>
            <div *ngFor="let row of groupTab" class="tab-pane" id="menu{{row.id}}">
                <div class="col-12 col-sm-12 col-md-12	col-lg-12 col-xl-12">
                    <div class="main">
                        <h3 [hidden]="checkHaveProduct">
                            ขออภัยค่ะยังไม่มีสินค้าในหมวดนี้
                        </h3>
                        <!-- <div class="row" *ngFor="let row of buildArr(dataProduct)" style="margin-top: 15px;">
                            <div *ngFor="let item of row" class="col-md-3 col-sm-6">
                                <div class="product-grid2">
                                    <div class="product-image2">
                                        <a href="#/productdetail/{{item.id}}">
                                            <img class="pic-1" src={{item.picture}}>
                                            <img class="pic-2" src={{item.picture}}>
                                        </a>
                                        <ul class="social">
                                            <li><a href="#/productdetail/{{item.id}}" data-tip="รายละเอียด"><i class="fa fa-eye"></i></a></li>
                                            <li><a (click)="addProduct(item)" data-tip="เพิ่มเข้าตะกร้าสินค้า"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                        <a (click)="addProduct(item)" class="add-to-cart">เพิ่มเข้าตะกร้าสินค้า</a>
                                    </div>
                                    <div class="product-content">
                                        <h3 class="title"><a href="#/productdetail/{{item.id}}">{{item.productname}}</a></h3>
                                        <span class="price">ราคา {{item.price}}/{{item.unit}}</span>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="row">
                            <div *ngFor="let item of dataProduct | paginate: { itemsPerPage: 20, currentPage: p }"
                                class="col-md-3 col-sm-6" style="margin-top: 15px;">
                                <div class="product-grid2">
                                    <div class="product-image2">
                                        <a href="#/productdetail/{{item.id}}">
                                            <img style="min-width: 420px;min-height: 420xpx;max-width: 420px;max-height: 420px;" class="pic-1" src={{item.picture}}>
                                            <img  style="min-width: 420px;min-height: 420xpx;max-width: 420px;max-height: 420px;" class="pic-2" id = "e{{item.id}}" src={{item.picture}}>
                                        </a>
                                        <ul class="social">
                                            <li><a href="#/productdetail/{{item.id}}" data-tip="รายละเอียด"><i class="fa fa-eye"></i></a></li>
                                            <li><a (click)="addProduct(item)" data-tip="เพิ่มเข้าตะกร้าสินค้า"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                        <a (click)="addProduct(item)" class="add-to-cart">เพิ่มเข้าตะกร้าสินค้า</a>
                                    </div>
                                    <div class="product-content">
                                        <h3 class="title"><a href="#/productdetail/{{item.id}}">{{item.productname}}</a></h3>
                                        <span class="price">ราคา {{item.price| number: '1.2-2'}} / {{item.unit}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-end">

                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>



<button type=" button" [hidden]="true" id="btnModal" class="btn btn-primary" data-toggle="modal" data-target="#myModal"></button>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body resultBody">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <li class="resultIcon"><i class="{{modalIcon}}"></i></li>
                <li class="resultHead {{colorH}}">{{modalResult}}</li>
                <li class="resultMsg">{{modalMessage}}</li>
            </div>
        </div>
    </div>
</div>