.username{
    color: white;
    font-size: 15px;
}
.logoutbtn{
    color: white !important;
    font-size: 15px;
    margin-left: 10px;
}
li { cursor: pointer; }

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
#badge1 .p1[data-count]:after{
    position: absolute;
    right: 10%;
    top: -15%;
    content: attr(data-count);
    font-size: 30%;
    padding: 0.4em;
    border-radius: 50%;
    line-height: 1em;
    color: white;
    background: rgba(255, 0, 0, 0.85);
    text-align: center;
    min-width: 10px;
    //font-weight:bold;
  }

  .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}
td{
    a:hover { 
        background-color: yellow;
    }
}
/* Important part */
.modal-dialog{
    overflow-y: initial !important
}
.modal-body.order{
    height: 600px;
    overflow-y: scroll;
}
.navbar-light .navbar-brand {
    color: #FFF;
}
.navbar-light .navbar-nav .nav-link {
    color: #FFF;
}
nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0,0,0,.7);
}
@keyframes myfirst2 {
    0%   {left:0px; top:0px;}
    
    100% {left:0px; top:0px;
        transform: scale(2);}
  }
  
  .img-tmp2{
    animation: myfirst2 1s linear 0s;
  }