<div *ngIf="isAdmin">
  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
    <a class="navbar-brand mr-1" href="#/index">Rak - din Admin</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" href="#/addfirstpage">เพิ่มหน้าแรก <span class="sr-only">(current)</span></a>
        </li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" href="#/addfarmer">เพิ่มเกษตรกร</a>
        </li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" href="#/addproduct">เพิ่มสินค้า</a>
        </li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" href="#/editproductlist">แก้ไข/ลบสินค้า</a>
        </li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" href="#/reportorder">คำสั่งซื้อ</a>
        </li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" href="#/reportreceipt">ใบเสร็จรับเงิน</a>
        </li>
      </ul>
    </div>

    <!-- Navbar Search -->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
      <!-- Navbar -->
      <!-- <ul class="navbar-nav ml-auto ml-md-0">
              <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-bell fa-fw"></i>
                  <span class="badge badge-danger">9+</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-envelope fa-fw"></i>
                  <span class="badge badge-danger">7</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-user-circle fa-fw"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                  <a class="dropdown-item" href="#">Settings</a>
                  <a class="dropdown-item" href="#">Activity Log</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
                </div>
              </li>
            </ul> -->
      <div class="input-group">
        <!-- <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search"></i>
                </button> -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a *ngIf="isLogin" class="nav-link">ยินดีต้อนรับคุณ {{nameuser}}</a>
            </li>
            <li class="nav-item">
              <a *ngIf="isLogin" class="nav-link" target="" (click)="logout()">Logout</a>
            </li>
          </ul>
        </div>


        <i class="fa fa-sign-out" aria-hidden="true"></i>
        <!-- <p *ngIf="!isLogin" class="username">ยินดีต้อนรับคุณ {{nameuser}}<p> -->



      </div>
    </form>
  </nav>
</div>
<nav *ngIf="!isAdmin" class="navbar navbar-expand navbar-light static-top" style="background-color: #589A16;">

  <a class="navbar-brand mr-1" href="#/index">Rak - din</a>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" href="#/index">หน้าหลัก <span class="sr-only">(current)</span></a>
      </li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" href="#/product">สินค้า</a>
      </li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" href="#/showfarmer">แนะนำเกษตรกร</a>
      </li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" href="#/uploadreceipt">แจ้งชำระเงิน</a>
      </li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" href="#/orderhistory">ประวัติการสั่งซื้อ</a>
      </li>
      <!-- <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
              </li> -->
    </ul>
  </div>

  <!-- Navbar Search -->
  <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
    <!-- Navbar -->
    <!-- <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <span class="badge badge-danger">9+</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <span class="badge badge-danger">7</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-circle fa-fw"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">Settings</a>
                <a class="dropdown-item" href="#">Activity Log</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
              </div>
            </li>
          </ul> -->
    <div class="input-group">
      <!-- <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button">
                <i class="fas fa-search"></i>
              </button> -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a *ngIf="isLogin" class="nav-link">ยินดีต้อนรับคุณ {{nameuser}}</a>
          </li>
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a *ngIf="!isLogin" class="nav-link" (click)="login()">เข้าสู่ระบบ</a>
          </li>
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a *ngIf="!isLogin" class="nav-link" (click)="forgotpassword()">ลืมรหัสผ่าน</a>
          </li>
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a *ngIf="!isLogin" class="nav-link" href="#/register" (click)="register()">ลงทะเบียน</a>
          </li>
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a (click)="showCart()" class="nav-link" id=badge1> <i id="acart" class="fas fa-shopping-cart"></i>
              <span  class="badge badge-danger">{{itemIncart}}</span></a>

          </li>
          <li *ngIf="isLogin" class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="far fa-user"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
              <a class="dropdown-item" href="#/editprofile">แก้ไขข้อมูลส่วนตัว</a>
              <a class="dropdown-item" href="#/orderhistory">ประวัติการสังซื้อ</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="" (click)="logout()">ออกจากระบบ</a>
            </div>
          </li>
        </ul>
      </div>


      <i class="fa fa-sign-out" aria-hidden="true"></i>
      <!-- <p *ngIf="!isLogin" class="username">ยินดีต้อนรับคุณ {{nameuser}}<p> -->

    </div>
  </form>
</nav>
<div id="cartAnimation" [hidden]="true" (click)="updateCartAnimation()"></div>
<div id="updateheader" [hidden]="true" (click)="updateheader()"></div>
<div id="cartcontrol" [hidden]="true" (click)="updateCart()"></div>
<button type=" button" [hidden]="true" id="btnModalCart" class="btn btn-primary" data-toggle="modal" data-target="#myModalCart"></button>
<div class="modal fade" id="myModalCart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="row">
        <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11"></div>
        <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
          <button type="button" style="padding: 5px 15px 5px 5px;float: right;" class="close" data-dismiss="modal"
            aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div class="modal-body order">
        <div class="card">
          <table class="table table-hover shopping-cart-wrap">
            <thead class="text-muted">
              <tr>
                <th scope="col">สินค้า</th>
                <th scope="col" width="80">จำนวน</th>
                <th scope="col" width="140">ราคาต่อหน่วย</th>
                <th scope="col" width="90">ราคารวม</th>
                <th scope="col" width="80" class="text-right">แอคชั่น</th>
              </tr>
            </thead>
            <tbody *ngIf="itemIncartObj?.length == 0" class="text-muted float-center">
              <p class="align-items-center">ท่านยังไม่มีสินค้าในตะกร้าสินค้า</p>
            </tbody>
            <tbody *ngIf="itemIncartObj?.length > 0">
              <tr *ngFor="let item of itemIncartObj">
                <td>
                  <figure class="media">
                    <div class="img-wrap"><img height="100px" width="100px" src={{item.picture}} class="img-thumbnail img-sm"></div>
                    <figcaption class="media-body" style="margin-left: 10px">
                      <h6 class="title text-truncate">{{item.productname}}</h6>
                      <dl class="param param-inline small">
                        <dt>หมวดหมู่ : {{item.group}}</dt>
                        <dd>หน่วย : {{item.unit}}</dd>
                      </dl>
                      <!-- <dl class="param param-inline small">
                          <dt>Color: </dt>
                          <dd>Orange color</dd>
                        </dl> -->
                    </figcaption>
                  </figure>
                </td>
                <td>
                  <input (change)="changeQty(item,$event)" type="number" name="qty" id="qty" min="1" step="1" value={{item.quantity}}
                    class="form-control" style="font-size: 12px;height: 35px;width: 65px;text-align: center;">
                </td>
                <td>
                  <div>
                    <var class="text-muted">{{item.price | number: '1.2-2'}}</var>
                    <!-- <small class="text-muted">(USD5 each)</small> -->
                  </div> <!-- price-wrap .// -->
                </td>
                <td>
                  <div>
                    <var class="text-muted">{{item.price*item.quantity | number: '1.2-2'}}</var>
                    <!-- <small class="text-muted">(USD5 each)</small> -->
                  </div> <!-- price-wrap .// -->
                </td>
                <td class="text-right">
                  <a style="color: red;" (click)="deleteItemInCart(item.id)"><i class="fas fa-trash-alt"></i> ลบ</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row" style="padding: 5px 15px 5px 5px;float: right;">
          <div class="row">
            <h3>ราคารวม {{sumprice | number: '1.2-2'}} บาท</h3>
            <button (click)="order()" type="button" style="width: 100%;" class="btn btn-success">สั่งซื้อสินค้า</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <button type=" button" [hidden]="true" id="btnModalLogout" class="btn btn-primary" data-toggle="modal" data-target="#myModallogout"></button>

<div class="modal fade" id="myModallogout" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        ท่านต้องการออกจากระบบ
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
        <a (click)="closeModalLogout()" class="btn btn-danger btn-ok">ยืนยัน</a>
      </div>
    </div>
  </div>
</div> -->

<button class="btn btn-primary" [hidden]="true" id="btnModalLogout" data-toggle="modal" data-target=".bs-example-modal-sm">ออกจากระบบ</button>
<div class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Logout <i class="fa fa-lock"></i></h4>
      </div>
      <div style="margin: 10px 10px 10px 10px;"><i class="fa fa-question-circle"></i> ท่านต้องการออกจากระบบ?</div>
      <div class="modal-footer"><a (click)="closeModalLogout()" class="btn btn-primary btn-block">ยืนยัน</a></div>
    </div>
  </div>
</div>

<!--modal-->
<button class="btn btn-primary" [hidden]="true" id="pwdModal" data-toggle="modal" data-target="#pwdModalmodal"></button>
<div class="modal fade" data-backdrop="static" id="pwdModalmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">ลืมรหัสผ่าน ?</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="input-group">
            <span>
              <i class="fa fa-user-circle-o" aria-hidden="true"></i>
            </span>
            <input [(ngModel)]="emailforgot" style="margin: 10px 15px 15px 10px;" type="text" class="form-control"
              placeholder="Email" />
          </div>
        </div>
        <label>*
          กรุณากรอกอีเมลที่ใช้ในการสมัครระบบจะทำการส่งลิ้งค์เปลี่ยนรหัสผ่านทางอีเมลที่ท่านลงทะเบียน</label>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button (click)="sendForgotPassword()" class="btn btn-success">ส่งคำขอเปลี่ยนรหัสผ่าน</button>
      </div>
    </div>
  </div>
</div>

<button type=" button" [hidden]="true" id="btnModalAlert" class="btn btn-primary" data-toggle="modal" data-target="#myModalAlert"></button>
<div class="modal fade" id="myModalAlert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body resultBody">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <li class="resultIcon"><i class="{{modalIcon}}"></i></li>
        <li class="resultHead {{colorH}}">{{modalResult}}</li>
        <li class="resultMsg">{{modalMessage}}</li>
      </div>
    </div>
  </div>
</div>