<div class="loading" [hidden]="!showLoader">
</div>
<div class="row">
    <div class="col-10 col-sm-10 col-md-10	col-lg-10 col-xl-10">
    </div>

    <div class="col-2 col-sm-2 col-md-2	col-lg-2 col-xl-2">
        <div class="input-group" style="padding-top: 5px; width: 100%;">
            <input (keyup)="search()" [(ngModel)]="productsearch" class="form-control py-2" type="search" placeholder="ค้นหา"
                id="example-search-input">
            <span class="input-group-append">
                <button (click)="search()" class="btn btn-outline-secondary" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </div>
</div>
<div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="picture">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> picture </th>
            <td mat-cell *matCellDef="let element"> <img style="max-width: 40px;max-height: 40px;" src={{element.picture}}>
            </td>
        </ng-container>
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="productname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อสินค้า </th>
            <td mat-cell *matCellDef="let element"> {{element.productname}} </td>
        </ng-container>
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ราคา </th>
            <td mat-cell *matCellDef="let element"> {{element.price| number: '1.2-2'}}</td>
        </ng-container>
        <ng-container matColumnDef="price2">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ราคา 2</th>
            <td mat-cell *matCellDef="let element"> {{element.price2| number: '1.2-2'}}</td>
        </ng-container>
        <ng-container matColumnDef="group">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> กลุ่ม</th>
            <td mat-cell *matCellDef="let element">{{element.group}}</td>
        </ng-container>
        <ng-container matColumnDef="unit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> หน่วยสินค้า</th>
            <td mat-cell *matCellDef="let element">{{element.unit}}</td>
        </ng-container>
        <ng-container matColumnDef="ownerfarmer">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> เกษตรกรผู้ปลูก </th>
            <td mat-cell *matCellDef="let element">{{element.ownerfarmer}}</td>
        </ng-container>
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> แก้ไข/ลบ </th>
            <td mat-cell *matCellDef="let element"><a href="#/editproduct/{{element.id}}" >
                <button type="button" class="btn btn-warning">แก้ไข/ลบ </button>
             </a>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<mat-paginator [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons></mat-paginator>


<button type="button" [hidden]="true" id="btnModal" class="btn btn-primary" data-toggle="modal" data-target="#myModal"></button>
<div class="modal fade" data-backdrop="static" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body resultBody">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <li class="resultIcon"><i class="{{modalIcon}}"></i></li>
                <li class="resultHead {{colorH}}">{{modalResult}}</li>
                <li class="resultMsg">{{modalMessage}}</li>
            </div>
        </div>
    </div>
</div>