
    table {
      width: 100%;
    }
    .example-container {
      padding: 0px 10px 0px 10px;
      box-shadow: none;
      height: calc(100vh - 56px - 140px);
      overflow: auto;
      p{
          margin: 0;
      }
      .mat-header-cell{
          color: #212529 !important;
      }
      .mat-cell{
          font-size: 12px; 
      }
      tr.mat-header-row{
          height: 40px;
      }
      tr.mat-row{
          height: 40px;
      }
      td.mat-cell, td.mat-footer-cell{
          border: none;
      }
      tr:nth-child(even) {
          background:#ced4da;
      }
      label{
          margin-bottom: 0;
      }
      button{
          height: 30px;
          font-size: 12px;
          width: 75px;
      }
      .statusRound{
          font-size: 11px;
          vertical-align: middle;
          p{
              width: 50px;
              height: 25px;
              border-radius: 25px;
              padding: 5px;
              text-align: center;
              margin: 0;
          }
      }
      .roundOn{
          color: white;
          background-color: #2196F3;
      }
      .roundOff{
          background-color: #c4c3c3;
      }
  }