<div class="loading" [hidden]="!showLoader">
</div>
<div class="container">
    <div style="margin-top: 10px">
        <div class="row">
            <div class="col-1 col-sm-1 col-md-1	col-lg-1 col-xl-1"></div>
            <div class="col-10 col-sm-10 col-md-10	col-lg-10 col-xl-10">

                <h5>แก้ไขสินค้า</h5>
                <label for="inputProductName">ชื่อสินค้า</label>
                <input [(ngModel)]="productname" type="text" class="form-control" id="inputProductName">
                <label for="inputProductPrice">ราคา</label>
                <input (keyup)="check1()" [(ngModel)]="productprice"  value="" type="text" class="form-control" id="inputProductPrice">
                <div class="row" [hidden]="isHideCtnMsg">
                    <div class="col-12">
                        <div class="msgErr">{{ctnmessage}}</div>
                    </div>
                </div>
                <label for="inputProductSpecialPrice">ราคาพิเศษ</label>
                <input (keyup)="check2()" [(ngModel)]="productspecialprice"  value="{{productspecialprice| number: '1.2-2'}}" type="text" class="form-control" id="inputProductSpecialPrice">
                <div class="row" [hidden]="isHideCtnMsg2">
                    <div class="col-12">
                        <div class="msgErr">{{ctnmessage}}</div>
                    </div>
                </div>
            </div>
            <div class="col-1 col-sm-1 col-md-1	col-lg-1 col-xl-1"></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-1 col-sm-1 col-md-1	col-lg-1 col-xl-1"></div>
            <div class="col-8 col-sm-12 col-md-8	col-lg-8 col-xl-6">
                <label for="filename">รูปภาพสินค้า</label>
                <br>
                <img style="max-width: 198px;max-height: 198px;" class="img-fluid" src={{picture}} />
            </div>
        </div>

        <div class="row" style="margin-top: 10px;">
            <div class="col-1 col-sm-1 col-md-1	col-lg-1 col-xl-1"></div>
            <div class="col-8 col-sm-12 col-md-8	col-lg-8 col-xl-6">
                <label for="filename">เปลี่ยนรูปภาพสินค้า</label>
                <br>

                <image-upload (removed)="onRemoved($event)" (uploadFinished)="onUploadFinished($event)"
                    (uploadStateChanged)="onUploadStateChanged($event)"></image-upload>
            </div>
        </div>
        <div class="row">
            <div class="col-1 col-sm-1 col-md-1	col-lg-1 col-xl-1"></div>
            <div class="col-8 col-sm-12 col-md-8	col-lg-8 col-xl-6">
                <label for="promotion">โปรโมชั่น</label>
                <input [(ngModel)]="inputpromotion" type="text" class="form-control" id="inputpromotion" >
            </div>
        </div>
        <div class="row">
            <div class="col-1 col-sm-1 col-md-1	col-lg-1 col-xl-1"></div>
            <div class="col-8 col-sm-12 col-md-8	col-lg-8 col-xl-6">
                <label for="group">ชื่อหน่วยเรียกสินค้า</label>
                <!-- <input [(ngModel)]="inputAuthorize" type="text" class="form-control" id="inputAuthorize"> -->
                <select [(ngModel)]="unit" class="form-control" id="unit">
                    <option [value]="role.id" *ngFor="let role of UnitDropDowns">{{role.name}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-1 col-sm-1 col-md-1	col-lg-1 col-xl-1"></div>
            <div class="col-8 col-sm-12 col-md-8	col-lg-8 col-xl-6">
                <label for="group">หมวดหมู่สินค้า</label>
                <!-- <input [(ngModel)]="inputAuthorize" type="text" class="form-control" id="inputAuthorize"> -->
                <select [(ngModel)]="group" class="form-control" id="group">
                    <option [value]="role.id" *ngFor="let role of GroupDropDowns">{{role.name}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-1 col-sm-1 col-md-1	col-lg-1 col-xl-1"></div>
            <div class="col-8 col-sm-12 col-md-8	col-lg-8 col-xl-6">
                <label for="farmer">เกษตรกรผู้ปลูก</label>
                <!-- <input [(ngModel)]="inputAuthorize" type="text" class="form-control" id="inputAuthorize"> -->
                <select [(ngModel)]="farmer" class="form-control" id="farmer">
                    <option [value]="role.id" *ngFor="let role of FarmerDropDowns">{{role.name}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-1 col-sm-1 col-md-1	col-lg-1 col-xl-1"></div>
            <div class="col-8 col-sm-12 col-md-8	col-lg-8 col-xl-10" style="margin-top: 10px;margin-bottom: 10px;">
                <button style="margin-top: 5px;" class="btn btn-success" (click)="save()">บันทึก</button>
                <button style="margin-top: 5px;margin-left: 10px;" class="btn btn-danger" (click)="delete()">ลบสินค้า</button>
            </div>
        </div>

    </div>
</div>
<button type="button" [hidden]="true" id="btnModal" class="btn btn-primary" data-toggle="modal" data-target="#myModal"></button>
<div class="modal fade" data-backdrop="static" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body resultBody">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <li class="resultIcon"><i class="{{modalIcon}}"></i></li>
                <li class="resultHead {{colorH}}">{{modalResult}}</li>
                <li class="resultMsg">{{modalMessage}}</li>
            </div>
        </div>
    </div>
</div>