<div class="loading" [hidden]="!showLoader">
</div>
<div class="container">
    <!-- Carousel
        ================================================== -->
    <div style="display:block;" [style.width]="width">
        <slideshow #slideshow [imageUrls]="imageUrls" [height]="height" [minHeight]="minHeight" [arrowSize]="arrowSize"
            [showArrows]="showArrows" [disableSwiping]="disableSwiping" [autoPlay]="autoPlay" [stopAutoPlayOnSlide]="stopAutoPlayOnSlide"
            [debug]="debug" [backgroundSize]="backgroundSize" [backgroundPosition]="backgroundPosition"
            [backgroundRepeat]="backgroundRepeat" [showDots]="showDots" [dotColor]="dotColor" [showCaptions]="showCaptions"
            [captionColor]="captionColor" [captionBackground]="captionBackground" [lazyLoad]="lazyLoad"
            [hideOnNoSlides]="hideOnNoSlides">
        </slideshow>
    </div>


    <div class="mainTitle">
        <div class="containerDash">
            <div [innerHTML]="detailaboutUs" style="border-top:1px solid #cecece;" class="ql-viewer"></div>
        </div>
    </div>

    <!-- Marketing messaging and featurettes
        ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->


    <div class="containerDash marketing">
        <h2 class="itemsTitle">สินค้าขายดี</h2>
        <div id="myCarousel1" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        <div *ngFor="let item of dataProductshow" class="col-lg-4">
                            <a href="#/productdetail/{{item.id}}">
                                <img style="width: 486px;height: 395px;position: absolute;" src={{item.picture}}>
                                <img style="width: 486px;height: 395px;position: relative;z-index: 2;" src={{item.picture}} id="e{{item.id}}">
                            </a>
                            <h4>{{item.productname}}</h4>
                            <h3 style="padding-top: 10px;">ราคา {{item.price | number: '1.2-2'}} / {{item.unit}}</h3>
                            <p><a class="btn btn-default" (click)="addProduct(item)" role="button">เพิ่มสินค้า&raquo;</a></p>
                        </div>
                    </div>

                </div>
            </div>
        </div><!-- /.carousel -->
    </div>







    <!-- <div class="introSection">
        <div class="containerDash">
            <div class="row">
                <div class="col-lg-5">
                    <h3>ยินดีต้อนรับ</h3>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy
                        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                        make a
                        type specimen book.
                        It has survived not only five centuries, but also the leap into electronic typesetting,
                        remaining
                        essentially unchanged. <br><br>
                        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                        passages,
                        and more recently with desktop publishing software like Aldus PageMaker including versions of
                        Lorem
                        Ipsum.
                    </p>
                </div>

                <div class="col-lg-4">
                    <h3>ยินดีต้อนรับ</h3>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy
                        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                        make a
                        type specimen book.
                        It has survived not only five centuries, but also the leap into electronic typesetting,
                        remaining
                        essentially unchanged. <br><br>

                    </p>

                </div>

                <div class="col-lg-3">
                    <h3>ยินดีต้อนรับ</h3>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy
                        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                        make a
                        type specimen book.

                    </p>

                </div>

            </div>
        </div>
    </div> -->


</div>

<button type=" button" [hidden]="true" id="btnModal" class="btn btn-primary" data-toggle="modal" data-target="#myModal"></button>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body resultBody">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <li class="resultIcon"><i class="{{modalIcon}}"></i></li>
                <li class="resultHead {{colorH}}">{{modalResult}}</li>
                <li class="resultMsg">{{modalMessage}}</li>
            </div>
        </div>
    </div>
</div>