<h2 mat-dialog-title>Success</h2>
<mat-dialog-content class="success">
  Update report success
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button (click)="closeDialog()">Ok</button>
</mat-dialog-actions>
