<div class="loading" [hidden]="!showLoader">
</div>
<div class="rowshowfarmer">

    <div class="row">
        <div class="col-6 col-sm-6 col-md-6	col-lg-6 col-xl-6">
            <h2>แนะนำเกษตรกร</h2>
            <p style="padding-top: 10px;">ชื่อ : {{dataFarmer.name}}</p>
            <p>ทำการเกษตรในภาค : {{dataFarmer.sector}}</p>
        </div>
        <div class="col-6 col-sm-6 col-md-6	col-lg-6 col-xl-6">
            <img class="rounded-circle float-right" src={{dataFarmer.imageprofile}} width="250" height="250">
        </div>
    </div>

    <div class="row" style="margin-top: 10px;">

        <div class="col-12 col-sm-12 col-md-12	col-lg-12 col-xl-12">
            <div [innerHTML]="detailFarmer" style="border-top:1px solid #cecece;" class="ql-viewer"></div>

        </div>
    </div>
</div>


<button type=" button" [hidden]="true" id="btnModal" class="btn btn-primary" data-toggle="modal" data-target="#myModal"></button>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body resultBody">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <li class="resultIcon"><i class="{{modalIcon}}"></i></li>
                <li class="resultHead {{colorH}}">{{modalResult}}</li>
                <li class="resultMsg">{{modalMessage}}</li>
            </div>
        </div>
    </div>
</div>