<div class="loading" [hidden]="!showLoader">
</div>
<div class="row" style="margin-top: 20px">
    <div class="col-1 col-sm-1 col-md-1	col-lg-1 col-xl-1"></div>
    <div class="col-10 col-sm-10 col-md-10	col-lg-10 col-xl-10">
        <h2>รายละเอียดคำสั่งซื้อเลขที่ {{orderid}}</h2>

    </div>
    <div class="col-1 col-sm-1 col-md-1	col-lg-1 col-xl-1"></div>
</div>
<div class="row">
    <div class="col-1 col-sm-1 col-md-1	col-lg-1 col-xl-1"></div>
    <div class="col-5 col-sm-5 col-md-5	col-lg-5 col-xl-5">
        <label for="inputsumprice">ราคารวมทั้งสิ้น</label>
        <input [disabled]="true" value="{{ sumprice | number : '1.2-2' }}" type="text" class="form-control" id="inputsumprice">

        <label for="inputAddress">ที่อยู่จัดส่ง</label>
        <textarea [disabled]="true" [(ngModel)]="address" class="form-control" rows="3" id="inputAddress"></textarea>
        
        <label for="farmersector">สถานะคำสั่งซื้อ</label>
        <!-- <input [(ngModel)]="inputAuthorize" type="text" class="form-control" id="inputAuthorize"> -->
        <select [disabled]="true" (change)="changetmp($event)"  [(ngModel)]="statusOrder" class="form-control" id="inputSite">
            <option [value]="role.id" *ngFor="let role of statusDropDowns">{{role.name}}</option>
        </select>

    </div>
    <div class="col-6 col-sm-6 col-md-6	col-lg-6 col-xl-6">
            <div class="example-container mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource" matSort>
                        <ng-container matColumnDef="เลขที่คำสั่งซื้อ">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> เลขที่คำสั่งซื้อ </th>
                            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                        </ng-container>
                        <ng-container matColumnDef="สินค้า">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> สินค้า </th>
                            <td mat-cell *matCellDef="let element"> {{element.productname}} </td>
                        </ng-container>
                        <ng-container matColumnDef="จำนวน">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> จำนวน </th>
                            <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
                        </ng-container>
                        <ng-container matColumnDef="ราคา">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> ราคา </th>
                            <td mat-cell *matCellDef="let element"> {{element.price| number: '1.2-2'}}</td>
                        </ng-container>
                        <ng-container matColumnDef="ราคารวม">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> ราคารวม </th>
                            <td mat-cell *matCellDef="let element"> {{element.price * element.quantity| number: '1.2-2'}}</td>
                        </ng-container>
                        <ng-container matColumnDef="วันที่สั่งซื้อ">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่สั่งซื้อ</th>
                            <td mat-cell *matCellDef="let element"> {{element.createdate| date:'dd/MM/yyyy'}}</td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
                <mat-paginator [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons></mat-paginator>
    </div>
</div>
<button type="button" [hidden]="true" id="btnModal" class="btn btn-primary" data-toggle="modal" data-target="#myModal"></button>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body resultBody">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <li class="resultIcon"><i class="{{modalIcon}}"></i></li>
                <li class="resultHead {{colorH}}">{{modalResult}}</li>
                <li class="resultMsg">{{modalMessage}}</li>
            </div>
        </div>
    </div>
</div>