<div class="loading" [hidden]="!showLoader">
  </div>
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#edit">แก้ไขข้อมูลส่วนตัว</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#address">จัดการที่อยู่</a>
        </li>
      </ul>
      <div class="tab-content" style="padding-top: 10px">
        <div class="tab-pane active" id="edit">
          <form #loginForm="ngForm">
            <div class="imgcontainer">
              <img src="./assets/images/logo_regeister.jpg" class="avatar">
            </div>
            <div class="center loginlabel">
              แก้ไขข้อมูลส่วนตัว
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
                <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                  <label for="inputemail">Email</label>
                  <input [disabled]="true" [ngModelOptions]="{standalone: true}" #email="ngModel" required maxlength="50"
                    class="form-control" [(ngModel)]="model.email" type="text" class="form-control" id="inputemail"
                    pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
                  <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
                    <div [hidden]="!email.errors.required">
                      โปรดระบุอีเมล!
                    </div>
                    <!-- <div [hidden]="!user.errors.minlength">
                          Title must be at least 5 characters long.
                        </div> -->
                    <div [hidden]="!email.errors.maxlength">
                      Email ต้องไม่เกิน 50 ตัวอักษร
                    </div>
                  </div>
                </div>
                <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
                <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                  <label for="inputname">ชื่อ</label>
                  <input [ngModelOptions]="{standalone: true}" #name="ngModel" required maxlength="50" class="form-control"
                    [(ngModel)]="model.name" type="text" class="form-control" id="inputname">
                  <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
                    <div [hidden]="!name.errors.required">
                      โปรดระบุชื่อผู้ลงทะเบียน!
                    </div>
                    <!-- <div [hidden]="!user.errors.minlength">
                            Title must be at least 5 characters long.
                          </div> -->
                    <div [hidden]="!name.errors.maxlength">
                      ชื่อผู้ลงทะเบียน ต้องไม่เกิน 50 ตัวอักษร
                    </div>
                  </div>
                </div>
                <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
                <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                  <label for="inputtel">เบอร์โทร</label>
                  <input [ngModelOptions]="{standalone: true}" #tel="ngModel" required maxlength="20" class="form-control"
                    [(ngModel)]="model.tel" type="text" class="form-control" id="inputtel">
                  <div *ngIf="tel.errors && (tel.dirty || tel.touched)" class="alert alert-danger">
                    <div [hidden]="!tel.errors.required">
                      โปรดระบุเบอร์โทรหรือ - เมื่อไม่ต้องการระบุ
                    </div>
                    <!-- <div [hidden]="!user.errors.minlength">
                            Title must be at least 5 characters long.
                          </div> -->
                    <div [hidden]="!tel.errors.maxlength">
                      เบอร์โทรต้องไม่เกิน 20 ตัวอักษร
                    </div>
                  </div>
                </div>
                <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
                <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                  <label for="inputphone">เบอร์โทรศัพท์</label>
                  <input [ngModelOptions]="{standalone: true}" #phone="ngModel" required maxlength="20" class="form-control"
                    [(ngModel)]="model.phone" type="text" class="form-control" id="inputphone">
                  <div *ngIf="phone.errors && (phone.dirty || phone.touched)" class="alert alert-danger">
                    <div [hidden]="!phone.errors.required">
                      โปรดระบุเบอร์โทรศัพท์หรือ - เมื่อไม่ต้องการระบุ
                    </div>
                    <!-- <div [hidden]="!user.errors.minlength">
                            Title must be at least 5 characters long.
                          </div> -->
                    <div [hidden]="!phone.errors.maxlength">
                      เบอร์โทรศัพท์ต้องไม่เกิน 20 ตัวอักษร
                    </div>
                  </div>
                </div>
                <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
                <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                  <button [disabled]="!(name.valid&& tel.valid&& phone.valid )" (click)="showConfirm()" class="btn btn-success buttonsubmit"><i
                      class="fas fa-save"></i> อัพเดทข้อมูลส่วนตัว</button>
                </div>
                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
              </div>
              <div class="row">
                <img class="loading" *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
              </div>
            </div>
          </form>
        </div>
        <div class="tab-pane" id="address">
          <div [hidden]="!showAddress1" class="form-group">
            <div class="row">
              <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
              <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                <div class="card">
                  <span class="text-right bg-success" style="padding-right: 5px;" (click)="showConfirmDelete(1)"><i style="color:white;" class="fa fa-times"></i></span>
                  <div class="card-header bg-success text-white">ที่อยู่</div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <label for="inputhomenumber">ที่อยู่</label>
                        <input [disabled]="true" [ngModelOptions]="{standalone: true}" #homenumber="ngModel" required
                          maxlength="100" class="form-control" [(ngModel)]="model.homenumber" type="text" class="form-control"
                          id="inputhomenumber">
                        <div *ngIf="homenumber.errors && (homenumber.dirty || homenumber.touched)" class="alert alert-danger">
                          <div [hidden]="!homenumber.errors.required">
                            โปรดระบุที่อยู่!
                          </div>
                          <!-- <div [hidden]="!user.errors.minlength">
                                    Title must be at least 5 characters long.
                                  </div> -->
                          <div [hidden]="!homenumber.errors.maxlength">
                            ที่อยู่ต้องไม่เกิน 20 ตัวอักษร
                          </div>
                        </div>
                        <label for="inputdistrict">อำเภอ</label>
                        <input [disabled]="true" [ngModelOptions]="{standalone: true}" #district="ngModel" required
                          maxlength="20" class="form-control" [(ngModel)]="model.district" type="text" class="form-control"
                          id="inputdistrict">
                        <div *ngIf="district.errors && (district.dirty || district.touched)" class="alert alert-danger">
                          <div [hidden]="!district.errors.required">
                            โปรดระบุอำเภอ!
                          </div>
                          <!-- <div [hidden]="!user.errors.minlength">
                                    Title must be at least 5 characters long.
                                  </div> -->
                          <div [hidden]="!district.errors.maxlength">
                            อำเภอต้องไม่เกิน 20 ตัวอักษร
                          </div>
                        </div>
                      </div>
                      <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <label for="inputsubdistrict">ตำบล</label>
                        <input [disabled]="true" [ngModelOptions]="{standalone: true}" #subdistrict="ngModel" required
                          maxlength="20" class="form-control" [(ngModel)]="model.subdistrict" type="text" class="form-control"
                          id="inputsubdistrict">
                        <div *ngIf="subdistrict.errors && (subdistrict.dirty || subdistrict.touched)" class="alert alert-danger">
                          <div [hidden]="!subdistrict.errors.required">
                            โปรดระบุตำบล!
                          </div>
                          <!-- <div [hidden]="!user.errors.minlength">
                                    Title must be at least 5 characters long.
                                  </div> -->
                          <div [hidden]="!subdistrict.errors.maxlength">
                            ตำบลต้องไม่เกิน 20 ตัวอักษร
                          </div>
                        </div>
                        <label for="inputprovince">จังหวัด</label>
                        <input [disabled]="true" [ngModelOptions]="{standalone: true}" #province="ngModel" required
                          maxlength="20" class="form-control" [(ngModel)]="model.province" type="text" class="form-control"
                          id="inputprovince">
                        <div *ngIf="province.errors && (province.dirty || province.touched)" class="alert alert-danger">
                          <div [hidden]="!province.errors.required">
                            โปรดระบุจังหวัด!
                          </div>
                          <!-- <div [hidden]="!user.errors.minlength">
                                    Title must be at least 5 characters long.
                                  </div> -->
                          <div [hidden]="!province.errors.maxlength">
                            จังหวัดต้องไม่เกิน 20 ตัวอักษร
                          </div>
                        </div>
                        <label for="inputpostcode">รหัสไปรษณีย์</label>
                        <input [disabled]="true" [ngModelOptions]="{standalone: true}" #postcode="ngModel" required
                          maxlength="20" class="form-control" [(ngModel)]="model.postcode" type="text" class="form-control"
                          id="inputpostcode">
                        <div *ngIf="postcode.errors && (postcode.dirty || postcode.touched)" class="alert alert-danger">
                          <div [hidden]="!postcode.errors.required">
                            โปรดระบุจังหวัด!
                          </div>
                          <!-- <div [hidden]="!user.errors.minlength">
                                    Title must be at least 5 characters long.
                                  </div> -->
                          <div [hidden]="!postcode.errors.maxlength">
                            จังหวัดต้องไม่เกิน 20 ตัวอักษร
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer bg-success text-white"></div>
                </div>
              </div>
              <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
            </div>
          </div>
          <div [hidden]="!showAddress2" class="form-group">
            <div class="row">
              <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
              <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                <div class="card">
                  <span class="text-right bg-success" style="padding-right: 5px;" (click)="showConfirmDelete(2)"><i style="color:white;" class="fa fa-times"></i></span>
                  <div class="card-header bg-success text-white">ที่อยู่</div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <label for="inputhomenumber2">ที่อยู่</label>
                        <input [ngModelOptions]="{standalone: true}" #homenumber2="ngModel" required maxlength="100"
                          class="form-control" [(ngModel)]="model.homenumber2" type="text" class="form-control" id="inputhomenumber2">
                        <div *ngIf="homenumber2.errors && (homenumber2.dirty || homenumber2.touched)" class="alert alert-danger">
                          <div [hidden]="!homenumber2.errors.required">
                            โปรดระบุที่อยู่!
                          </div>
                          <!-- <div [hidden]="!user.errors.minlength">
                                    Title must be at least 5 characters long.
                                  </div> -->
                          <div [hidden]="!homenumber2.errors.maxlength">
                            ที่อยู่ต้องไม่เกิน 50 ตัวอักษร
                          </div>
                        </div>
                        <label for="inputdistrict2">อำเภอ</label>
                        <input [ngModelOptions]="{standalone: true}" #district2="ngModel" required maxlength="50" class="form-control"
                          [(ngModel)]="model.district2" type="text" class="form-control" id="inputdistrict2">
                        <div *ngIf="district2.errors && (district2.dirty || district2.touched)" class="alert alert-danger">
                          <div [hidden]="!district2.errors.required">
                            โปรดระบุอำเภอ!
                          </div>
                          <!-- <div [hidden]="!user.errors.minlength">
                                    Title must be at least 5 characters long.
                                  </div> -->
                          <div [hidden]="!district2.errors.maxlength">
                            อำเภอต้องไม่เกิน 50 ตัวอักษร
                          </div>
                        </div>
                      </div>
                      <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <label for="inputsubdistrict2">ตำบล</label>
                        <input [ngModelOptions]="{standalone: true}" #subdistrict2="ngModel" required maxlength="50"
                          class="form-control" [(ngModel)]="model.subdistrict2" type="text" class="form-control" id="inputsubdistrict2">
                        <div *ngIf="subdistrict2.errors && (subdistrict2.dirty || subdistrict2.touched)" class="alert alert-danger">
                          <div [hidden]="!subdistrict2.errors.required">
                            โปรดระบุตำบล!
                          </div>
                          <!-- <div [hidden]="!user.errors.minlength">
                                    Title must be at least 5 characters long.
                                  </div> -->
                          <div [hidden]="!subdistrict2.errors.maxlength">
                            ตำบลต้องไม่เกิน 20 ตัวอักษร
                          </div>
                        </div>
                        <label for="inputprovince2">จังหวัด</label>
                        <input [ngModelOptions]="{standalone: true}" #province2="ngModel" required maxlength="50" class="form-control"
                          [(ngModel)]="model.province2" type="text" class="form-control" id="inputprovince2">
                        <div *ngIf="province2.errors && (province2.dirty || province2.touched)" class="alert alert-danger">
                          <div [hidden]="!province2.errors.required">
                            โปรดระบุจังหวัด!
                          </div>
                          <!-- <div [hidden]="!user.errors.minlength">
                                    Title must be at least 5 characters long.
                                  </div> -->
                          <div [hidden]="!province2.errors.maxlength">
                            จังหวัดต้องไม่เกิน 50 ตัวอักษร
                          </div>
                        </div>
                        <label for="inputpostcode2">รหัสไปรษณีย์</label>
                        <input [ngModelOptions]="{standalone: true}" #postcode2="ngModel" required maxlength="50" class="form-control"
                          [(ngModel)]="model.postcode2" type="text" class="form-control" id="inputpostcode2">
                        <div *ngIf="postcode2.errors && (postcode2.dirty || postcode2.touched)" class="alert alert-danger">
                          <div [hidden]="!postcode2.errors.required">
                            โปรดระบุจังหวัด!
                          </div>
                          <!-- <div [hidden]="!user.errors.minlength">
                                    Title must be at least 5 characters long.
                                  </div> -->
                          <div [hidden]="!postcode2.errors.maxlength">
                            จังหวัดต้องไม่เกิน 50 ตัวอักษร
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer bg-success text-white"></div>
                </div>
              </div>
              <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
            </div>
          </div>
          <div [hidden]="!showAddress3" class="form-group">
            <div class="row">
              <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
              <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                <div class="card">
                  <span class="text-right bg-success" style="padding-right: 5px;" (click)="showConfirmDelete(3)"><i style="color:white;" class="fa fa-times"></i></span>
                  <div class="card-header bg-success text-white">ที่อยู่</div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <label for="inputhomenumber3">ที่อยู่</label>
                        <input [ngModelOptions]="{standalone: true}" #homenumber3="ngModel" required maxlength="100"
                          class="form-control" [(ngModel)]="model.homenumber3" type="text" class="form-control" id="inputhomenumber3">
                        <div *ngIf="homenumber3.errors && (homenumber3.dirty || homenumber3.touched)" class="alert alert-danger">
                          <div [hidden]="!homenumber3.errors.required">
                            โปรดระบุที่อยู่!
                          </div>
                          <!-- <div [hidden]="!user.errors.minlength">
                                    Title must be at least 5 characters long.
                                  </div> -->
                          <div [hidden]="!homenumber3.errors.maxlength">
                            ที่อยู่ต้องไม่เกิน 50 ตัวอักษร
                          </div>
                        </div>
                        <label for="inputdistrict3">อำเภอ</label>
                        <input [ngModelOptions]="{standalone: true}" #district3="ngModel" required maxlength="50" class="form-control"
                          [(ngModel)]="model.district3" type="text" class="form-control" id="inputdistrict3">
                        <div *ngIf="district3.errors && (district3.dirty || district3.touched)" class="alert alert-danger">
                          <div [hidden]="!district3.errors.required">
                            โปรดระบุอำเภอ!
                          </div>
                          <!-- <div [hidden]="!user.errors.minlength">
                                    Title must be at least 5 characters long.
                                  </div> -->
                          <div [hidden]="!district3.errors.maxlength">
                            อำเภอต้องไม่เกิน 50 ตัวอักษร
                          </div>
                        </div>
                      </div>
                      <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <label for="inputsubdistrict3">ตำบล</label>
                        <input [ngModelOptions]="{standalone: true}" #subdistrict3="ngModel" required maxlength="50"
                          class="form-control" [(ngModel)]="model.subdistrict3" type="text" class="form-control" id="inputsubdistrict3">
                        <div *ngIf="subdistrict3.errors && (subdistrict3.dirty || subdistrict3.touched)" class="alert alert-danger">
                          <div [hidden]="!subdistrict3.errors.required">
                            โปรดระบุตำบล!
                          </div>
                          <!-- <div [hidden]="!user.errors.minlength">
                                    Title must be at least 5 characters long.
                                  </div> -->
                          <div [hidden]="!subdistrict3.errors.maxlength">
                            ตำบลต้องไม่เกิน 50 ตัวอักษร
                          </div>
                        </div>
                        <label for="inputprovince3">จังหวัด</label>
                        <input [ngModelOptions]="{standalone: true}" #province3="ngModel" required maxlength="50" class="form-control"
                          [(ngModel)]="model.province3" type="text" class="form-control" id="inputprovince3">
                        <div *ngIf="province3.errors && (province3.dirty || province3.touched)" class="alert alert-danger">
                          <div [hidden]="!province3.errors.required">
                            โปรดระบุจังหวัด!
                          </div>
                          <!-- <div [hidden]="!user.errors.minlength">
                                    Title must be at least 5 characters long.
                                  </div> -->
                          <div [hidden]="!province3.errors.maxlength">
                            จังหวัดต้องไม่เกิน 50 ตัวอักษร
                          </div>
                        </div>
                        <label for="inputpostcode3">รหัสไปรษณีย์</label>
                        <input [ngModelOptions]="{standalone: true}" #postcode3="ngModel" required maxlength="50" class="form-control"
                          [(ngModel)]="model.postcode3" type="text" class="form-control" id="inputpostcode3">
                        <div *ngIf="postcode3.errors && (postcode3.dirty || postcode3.touched)" class="alert alert-danger">
                          <div [hidden]="!postcode3.errors.required">
                            โปรดระบุจังหวัด!
                          </div>
                          <!-- <div [hidden]="!user.errors.minlength">
                                    Title must be at least 5 characters long.
                                  </div> -->
                          <div [hidden]="!postcode3.errors.maxlength">
                            จังหวัดต้องไม่เกิน 50 ตัวอักษร
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer bg-success text-white"></div>
                </div>
              </div>
              <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center" style="padding-bottom: 10px;">
            <button [disabled]="(showAddress1 && showAddress2 && showAddress3)"  type="button" (click)="addAddress()" class="btn btn-success">เพิ่มที่อยู่</button>
          </div>
        </div>
      </div>




    </div>
  </div>
</div>

<button type=" button" [hidden]="true" id="btnModalAdd" class="btn btn-primary" data-toggle="modal" data-target="#addAddress"></button>
<div class="modal fade" id="addAddress" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="row">
        <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11"></div>
        <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
          <button type="button" style="padding: 5px 15px 5px 5px;float: right;" class="close" data-dismiss="modal"
            aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div class="modal-body order">
        <div class="card">
          <div class="form-group">
            <div class="row">
              <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
              <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                <div class="row">
                  <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <label for="inputhomenumberadd">ที่อยู่</label>
                    <input required maxlength="100" [ngModelOptions]="{standalone: true}" #homenumberadd="ngModel" id="inputhomenumberadd"
                      class="form-control" [(ngModel)]="model.homenumberadd" type="text" class="form-control">
                    <div *ngIf="homenumberadd.errors && (homenumberadd.dirty || homenumberadd.touched)" class="alert alert-danger">
                      <div [hidden]="!model.homenumberadd.errors.required">
                        โปรดระบุที่อยู่!
                      </div>
                      <!-- <div [hidden]="!user.errors.minlength">
                                                  Title must be at least 5 characters long.
                                                </div> -->
                      <div [hidden]="!model.homenumberadd.errors.maxlength">
                        ที่อยู่ต้องไม่เกิน 50 ตัวอักษร
                      </div>
                    </div>
                    <label for="inputdistrictadd">อำเภอ</label>
                    <input required maxlength="50" [ngModelOptions]="{standalone: true}" #districtadd="ngModel" id="inputdistrictadd"
                      class="form-control" [(ngModel)]="model.districtadd" type="text" class="form-control" id="inputdistrictadd">
                    <div *ngIf="districtadd.errors && (districtadd.dirty || districtadd.touched)" class="alert alert-danger">
                      <div [hidden]="!model.districtadd.errors.required">
                        โปรดระบุอำเภอ!
                      </div>
                      <!-- <div [hidden]="!user.errors.minlength">
                                                  Title must be at least 5 characters long.
                                                </div> -->
                      <div [hidden]="!model.districtadd.errors.maxlength">
                        อำเภอต้องไม่เกิน 50 ตัวอักษร
                      </div>
                    </div>
                  </div>
                  <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <label for="inputsubdistrictadd">ตำบล</label>
                    <input required maxlength="50" [ngModelOptions]="{standalone: true}" #subdistrictadd="ngModel" id="inputsubdistrictadd"
                      class="form-control" [(ngModel)]="model.subdistrictadd" type="text" class="form-control" id="inputsubdistrict3">
                    <div *ngIf="subdistrictadd.errors && (subdistrictadd.dirty || subdistrictadd.touched)" class="alert alert-danger">
                      <div [hidden]="!model.subdistrictadd.errors.required">
                        โปรดระบุตำบล!
                      </div>
                      <!-- <div [hidden]="!user.errors.minlength">
                                                  Title must be at least 5 characters long.
                                                </div> -->
                      <div [hidden]="!model.subdistrictadd.errors.maxlength">
                        ตำบลต้องไม่เกิน 50 ตัวอักษร
                      </div>
                    </div>
                    <label for="inputprovinceadd">จังหวัด</label>
                    <input required maxlength="50" [ngModelOptions]="{standalone: true}" #provinceadd="ngModel" id="inputprovinceadd"
                      class="form-control" [(ngModel)]="model.provinceadd" type="text" class="form-control" id="inputprovinceadd">
                    <div *ngIf="provinceadd.errors && (provinceadd.dirty || provinceadd.touched)" class="alert alert-danger">
                      <div [hidden]="!model.provinceadd.errors.required">
                        โปรดระบุจังหวัด!
                      </div>
                      <!-- <div [hidden]="!user.errors.minlength">
                                                  Title must be at least 5 characters long.
                                                </div> -->
                      <div [hidden]="!model.provinceadd.errors.maxlength">
                        จังหวัดต้องไม่เกิน 50 ตัวอักษร
                      </div>
                    </div>
                    <label for="inputpostcodeadd">รหัสไปรษณีย์</label>
                    <input required maxlength="50" [ngModelOptions]="{standalone: true}" #postcodeadd="ngModel" id="inputpostcodeadd"
                      class="form-control" [(ngModel)]="model.postcodeadd" type="text" class="form-control" id="inputpostcodeadd">
                    <div *ngIf="postcodeadd.errors && (postcodeadd.dirty || postcodeadd.touched)" class="alert alert-danger">
                      <div [hidden]="!model.postcodeadd.errors.required">
                        โปรดระบุจังหวัด!
                      </div>
                      <!-- <div [hidden]="!user.errors.minlength">
                                                  Title must be at least 5 characters long.
                                                </div> -->
                      <div [hidden]="!model.postcodeadd.errors.maxlength">
                        จังหวัดต้องไม่เกิน 50 ตัวอักษร
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button [disabled]="!(homenumberadd.valid && subdistrictadd.valid
            && districtadd.valid&& provinceadd.valid&& postcodeadd.valid)"
            (click)="add()" type="button" style="width: 20%;margin: 10px 15px 10px 15px;" class="btn btn-success">เพิ่มที่อยู่</button>
        </div>
      </div>
    </div>
  </div>
</div>

<button type="button" [hidden]="true" id="btnModal" class="btn btn-primary" data-toggle="modal" data-target="#myModal"></button>
<div class="modal fade" data-backdrop="static" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body resultBody">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="checkModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <li class="resultIcon"><i class="{{modalIcon}}"></i></li>
        <li class="resultHead {{colorH}}">{{modalResult}}</li>
        <li class="resultMsg">{{modalMessage}}</li>
      </div>
    </div>
  </div>
</div>

<button type="button" [hidden]="true" id="DeleteModal" class="btn btn-primary" data-toggle="modal" data-target="#confirm-delete"></button>
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                ลบที่อยู่
            </div>
            <div class="modal-body">
                คุณต้องการลบที่อยู่ในการจัดส่ง
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
                <a (click)="deleteAddress()" data-dismiss="modal" class="btn btn-danger">ลบ</a>
            </div>
        </div>
    </div>
</div>
<button type="button" [hidden]="true" id="confirmModal" class="btn btn-primary" data-toggle="modal" data-target="#confirm-confirm"></button>
<div class="modal fade" id="confirm-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                อัพเดทข้อมูลส่วนตัว
            </div>
            <div class="modal-body">
                คุณต้องการอัพเดทข้อมูลส่วนตัว ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
                <a data-dismiss="modal" (click)="updateProfile()" class="btn btn-success">ยืนยัน</a>
            </div>
        </div>
    </div>
</div>